<div class="dialog">
  <div class="bar">
    <div class="title">
      邮箱登录/手机登陆
    </div>
  </div>

  <div class="login">

    <div class="inputbox">
      <input type="text" value="" placeholder="请输入账号" />
    </div>

    <div class="inputbox m10">
      <input type="text" value="" placeholder="请输入密码" />
    </div>

    <div class="autologin clear">
      <input type="checkbox" name="name" value="" class="checkname" />
      <span class="checktext floatx">
        自动登录
      </span>
      <a href="" class="checkpass">
        忘记密码？
      </a>
    </div>

    <div class="btn">
      <a href="" class="allico">
        <i class="logico allico">登　录</i>
      </a>
    </div>

  </div>

  <div class="foot">
    <a href="">&lt; 其他方式登录 </a>
  </div>

</div>
