.ic {
  background: url(https://s2.music.126.net/style/web2/img/button2.png?0eb80086f1c7c9c85aa8f1b2565ca3ac) no-repeat 0 9999px;
}

.mask {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
/* .box {
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 80px;
  top: 80px;
} */

.right {
  position: absolute;
  left: 30px;
  width: 442px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
}

.bar {
  border-bottom: 1px solid #191919;
  border-radius: 4px 4px 0 0;
  background: #2d2d2d;
  padding: 0 45px 0 18px;
  height: 38px;
  line-height: 38px;
  color: #fff;
}


.content .dec {
  padding: 40px 0;
}

.none {
  padding: 0 40px 15px 40px;
}

.none .cry {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(https://s2.music.126.net/style/web2/img/icon2.png?6fb096fac4982a85ab4ea5580ade14e2) no-repeat 0 9999px;
  background-position: -78px -45px;
  overflow: hidden;
  vertical-align: middle;
}

.none .crytxt {
  width: 306px;
  line-height: 22px;
  text-align: left;
  font-size: 14px;
  float: right;
}

.ntwo {
  text-align: center;
  position: relative;
}

.ntwo .buy {
  position: absolute;
  top: 7px;
  right: 40px;
  color: #999;
}

.ntwo .bor {
  color: #fff;
  height: 31px;
  line-height: 31px;
  padding-right: 4px;
  background-position: right -428px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.bor .pack {
  display: inline-block;
  height: 31px;
  line-height: 31px;
  padding: 0 15px 0 20px;
  color: #fff;
  background-position: 0 -387px;
  font-style: normal;
  pointer-events: none;
}

.closebtn {
  position: absolute;
  z-index: 20;
  top: 16px;
  right: 20px;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  background: url(https://s2.music.126.net/style/web2/img/layer/layer.png?1582d647a3ce2f02f50946b6c5c9648e) no-repeat 0 9999px;
  background-position: 0 -95px;
}