.drop {
    width: 100px;
    height: 30px;
    /* position: absolute; */
    background-color: orange;
}
.p1 {
    width: 300px;
    height: 600px;
    background-color:#ccc;
    margin: 100px;
    position: relative;
}

.p2 {
    width: 30px;
    height: 60px;
    border: 1px solid red;
    left: 19px;

}

/* .wrap {
    margin-left: calc(100vw - 100%);  
} */

  /*
  
  --------
-----------
    ---- 
    
    
    */